* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper .navbar {
    display: flex;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0.5rem 12rem;
    z-index: 1;
    background-color: #F3F2F0;
}

.navbar-img img {
    width: 50%;
}

.wrapper .navbar .navbar-itens ul {
    display: flex;
    flex-direction: row;
}

.wrapper .navbar .navbar-itens ul a {
    margin-left: 4rem;
    color: #737982;
    font-size: 1.4rem;
}

.wrapper .navbar .navbar-itens ul a:hover {
    color: #303D4A;
}


.wrapper .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7rem 2rem 2rem 2rem;
    background-color:#f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .main .main-information {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0 3rem;
}

.wrapper .main .main-img img{
    width: 600px;
}

.wrapper .main .main-information h1 {
    font-size: rem;
    color: #303D4A;
    margin-bottom: 4rem;
}

.wrapper .main .main-information p {
    font-size: 1.5rem;
    color: #737982;
    margin-bottom: 4rem;
    width: 30rem;
}

.wrapper .main .main-information #pattern-btn {
    width: 40%;
    padding: 1rem;
    background-color: #F0C9C4;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #303D4A;
    cursor: pointer;
}

.wrapper .main .main-information #pattern-btn:hover {
    background-color: #d4b0ab;
    color: #555a5f;
}

.wrapper .program {
    display: flex;
    align-items: center;
    background-image: url(../assets/img/img\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .program .program-information {
    width: 42vw;
    margin: 10rem 10rem;
}

.wrapper .program .program-information h2 {
    font-size: 3.5rem;
    color: #303D4A;
    margin-bottom: 5rem;
}

.wrapper .program .program-information p {
    font-size: 1.3rem;
    color: #737982;
    margin-bottom: 5rem;
   
}

.wrapper .program .program-information #pattern-btn {
    width: 30%;
    padding: 1rem;
    background-color: #F0C9C4;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #303D4A;
    cursor: pointer;
}

.wrapper .program .program-information #pattern-btn:hover {
    background-color: #d4b0ab;
    color: #555a5f;
}


.wrapper .steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    background-color: #f7f7f7;
}


.wrapper .steps .itens-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 1rem;
}

.wrapper .types {
    display: flex;
    align-items: center;
    padding: 6rem 10rem;
    background-image: url(../assets/img/img\ \(6\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: 100%;
}

.wrapper .types .types-information h2 {
    font-size: 5rem;
    color: #303D4A;
    margin-bottom: 5rem;
}

.wrapper .types .types-information p {
    font-size: 1.6rem;
    color: #737982;
    margin-bottom: 5rem;
}

.wrapper .types .types-information #pattern-btn {
    width: 30%;
    padding: 1rem;
    background-color: #F0C9C4;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #303D4A;
    cursor: pointer;
}

.wrapper .types .types-information #pattern-btn:hover {
    background-color: #d4b0ab;
    color: #555a5a;
}


.wrapper .promotional {
    display: flex;
    background-color: #F1F0EE;
    padding-top: 3rem;
}

.wrapper .promotional img {
    width: 250rem;
}

.wrapper .promotional .promotional-information {
    position: relative;
    right: 6rem;
}

.wrapper .promotional .promotional-information h2 {
    font-size: 5rem;
    color: #303D4A;
    margin-bottom: 4rem;
}

.wrapper .promotional .promotional-information p {
    font-size: 1.6rem;
    color: #737982;
    margin-bottom: 4rem;
}

.wrapper .promotional .promotional-information #pattern-btn {
    width: 30%;
    padding: 1rem;
    background-color: #F0C9C4;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #303D4A;
    cursor: pointer;
}

.wrapper .promotional .promotional-information #pattern-btn:hover {
    background-color: #d4b0ab;
    color: #555a5f;
}


.wrapper .galery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/img\ \(10\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

.wrapper .galery .galery-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.wrapper .galery .galery-information h3 {
    font-size: 5rem;
    color: #303D4A;
    margin: 3rem;
}

.wrapper .galery .galery-information p {
    font-size: 1.6rem;
    color: #737982;
    margin: 0 15rem;
    text-align: center;
}

.wrapper .galery .galery-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
}


.wrapper .galery .galery-cards .galery-card-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    box-shadow: 10px 10px 18px 0px rgba(194, 191, 191, 0.75);
    background-color: #f7f7f7;
}

.wrapper .galery .galery-cards .galery-card-itens h3 {
    font-size: 2rem;
    color: #303D4A;
    margin: 1rem;
}

.wrapper .galery .galery-cards .galery-card-itens p {
    font-size: 1rem;
    color: #737982;
    text-align: center;
    margin-bottom: 2rem;
}


.wrapper .presentation-video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0C9C4;
    padding: 10rem;
}

.wrapper .presentation-video .video {
    box-shadow: 10px 10px 18px 0px rgba(129, 127, 127, 0.75);
}

.wrapper .presentation-video .presentation-video-information {
    width: 40%;
    padding-left: 3rem;
}

.wrapper .presentation-video .presentation-video-information h3 {
    font-size: 2rem;
    color: #303D4A;
    margin-bottom: 2rem;
}

.wrapper .presentation-video .presentation-video-information p {
    font-size: 1.2rem;
    color: #737982;
    margin-bottom: 2rem;
    width: 25rem;
}

.wrapper .presentation-video .presentation-video-information .icons .fa-brands {
    color: #303D4A;
    font-size: 1.8rem;
    padding-right: 1rem;
    cursor: pointer;
}

.wrapper .presentation-video .presentation-video-information .icons .fa-brands:hover {
    color: #6b6d6e;
}


.wrapper .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/img\ \(10\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

.wrapper .contact h3 {
    font-size: 4rem;
    color: #303D4A;
    margin-bottom: 2rem;
}

.wrapper .contact p {
    font-size: 1.5rem;
    color: #737982;
    margin-bottom: 2rem;
    padding: 0 10rem;
    text-align: center;
    width: 89rem;
}

.wrapper .contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .contact .contact-form input {
    width: 60vw;
    height: 3rem;
    margin-bottom: 2rem;
    border: solid 2px #a4a5a5;
    background-color: #edf1f1;
}

.wrapper .contact .contact-form input::placeholder {
    padding-left: 1rem;
}

.wrapper .contact .contact-form textarea {
    width: 60vw;
    height: 9rem;
    margin-bottom: 2rem;
    border: solid 2px #a4a5a5;
    background-color: #edf1f1;
}

.wrapper .contact .contact-form textarea::placeholder {
    padding: 1rem 0 0 1rem;
}

.wrapper .contact .contact-form .contact-form-btn {
    width: 20%;
    padding: 1rem;
    background-color: #F0C9C4;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #303D4A;
    cursor: pointer;
}

.wrapper .contact .contact-form .contact-form-btn:hover {
    background-color: #d4b0ab;
    color: #555a5f;
}


.wrapper .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #303D4A;
    color: #f7f7f7;
    padding: 4rem;
    line-height: 1.8rem;
}

.wrapper .footer .company h2 {
    margin-bottom: 1rem;
} 

.wrapper .footer .company h3 {
    margin-top: 1rem;
    cursor: pointer;
}

.wrapper .footer .company h3:hover {
    color: #6b6d6e;
}

.wrapper .footer .sitemap {
    cursor: pointer;
}

.wrapper .footer .lorem-ipsum {
    cursor: pointer;
}

.wrapper .footer .sit-amet {
    cursor: pointer;
}

.wrapper .footer .icons {
    cursor: pointer;
}

.wrapper .footer .icons i {
    font-size: 1.5rem;
    margin: 0.6rem 0.4rem 0 0;
}

.wrapper .footer .icons .fa-brands:hover {
    color: #6b6d6e;
}


